body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #6a11cb, #aa25fc);
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Navigation Bar Styling */
.navbar {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px 0;
    font-size: 18px;
    font-weight: bold;
}

.navbar a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #FF1493; /* Pink highlight for active link */
}
/*body*/

h2{
    margin-top: 60px;
    font-size: 36px;
    font-weight: 700;
    color: #111827;
    letter-spacing: 0.5px;
}

h6 {
    font-size: 13px;
    font-weight: 700;
    color: #111827;
    margin-top: 40px;
}

p {
    font-size: 15px;
    color: white;
    margin: 18px auto;
    max-width: 600px;
    line-height: 1.6;
    text-align: justify;      /* Makes text look clean */
    text-justify: inter-word; /* Smooth spacing between words */
}
.copyright {
    font-size: 14px;
    color: white;
    margin: 20px auto;
}   

/*Fotter part css*/
  
  .footer {
    background-color: #7a29c0;
    padding: 40px;
    color: black;
    font-size: 14px;
  }
  
  .footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
  }
  
  .footer-column {
    flex: 1 1 180px;
    margin: 20px;
  }
  
  .footer-column h4 {
    font-size: 16px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  
  .footer-column a {
    display: block;
    color: white;
    margin-bottom: 10px;
    text-decoration: none;
  }
  
  .footer-column a:hover {
    text-decoration: underline;
  }
  
  .dropdowns {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
  }
  
  select {
    padding: 8px;
    font-size: 14px;
  }
  
  .flag {
    width: 20px;
    margin-right: 6px;
    vertical-align: middle;
  }
  
  .social-icons i {
    font-size: 18px;
    margin: 0 8px;
    cursor: pointer;
  }
  
  .app-links img {
    height: 40px;
    margin: 10px 0;
  }
  
  .footer-bottom {
    text-align: center;
    font-size: 12px;
    color: white;
    margin-top: 30px;
    border-top: 1px solid #ddd;
    padding-top: 15px;
  }

