<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 40px;
            text-align: center;
        }
    </style>
</head>

<body>

    <div class="navbar">
        <a href="{{ url_for('gender') }}">Home</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('services_categories') }}">Services & Categories</a>
        <!-- <a href="{{ url_for('contact_us') }}" class="active">Contact Us</a> -->
        <a href="{{ url_for('help_page') }}">Contact Us</a>

    </div>

    <h1>Contact Us</h1>
    <p>Email: support@gloora.com</p>
    <p>Phone: +91 9112879562</p>

</body>

</html>
